@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@300&display=swap');

/* clear inherited box model styling as taught in Love Running Walkthrough Project */

* {
    /* margin: 0; */
    border: auto;
    padding: 0;
}

/* Design colours will broadly follow the traditional piano keyboard of black/ivory or black/white */

body {
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #3a3a3a;
}

/* Original Website logo and navigation bar which style will carry through the 3 pages */

/* header {
    width: 100%;
    height: 10rem;
}

h1 {
    font-family: Nato sans, sans-serif;
    color: #2a2a2a;
    text-transform: uppercase;
}

h2 {
    font-family: Nato sans, sans-serif;
    color: #2a2a2a;
}

#website-logo {
    /* float: left; */
    /* padding-left: 2vw;
    font-size: 4rem;
    letter-spacing: 3px;
    vertical-align: middle;
    margin-bottom: 0;
    text-align: center;
}

#website-logo i {
    color: #3a3a3a;
    font-size: 50%;
    padding: 5px;
    margin: 1px;
}

#nav-menu { */
    /* float: right; */
    /* display: inline-block;
    padding-right: 1.6vw;
}

#nav-menu li {
    float: left;
    font-size: 2rem;
    letter-spacing: 3px;
    list-style-type: none;
    padding-right: 1vw;
}

#nav-menu,
#website-logo {
    line-height: 5rem;
    vertical-align: 50%;
} */

/* remove navigation underlines */

/* #nav-menu a {
    text-decoration: none;
    color: #2a2a2a;
    text-transform: uppercase;
} */

/* create hover effect on nav bar */

/* #nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: #3a3a3a;
} */

/* create underline effect on active page within nav bar */

/* .active {
    border-bottom: 1px solid #3a3a3a;
} */ */

/* Header and Hamburger Menu Navigation as learned from codepen.io and practised in my own repo Piano Lessons */

/* full header width */
.nav-bar {
    width: 100%;
    line-height: 5rem;
}

/* container within full header width */
.container {
    width: 90%;
    margin: 2rem;
    max-width: 1050px;
}

/* container in which to hold hamburger menu list drop-down */
/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px; */
    /* position: relative; 
} */
.nav-container {
    /* display: block; */
    display: flex;
    position: relative;
    height: 60px;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .nav-menu {
    display: flex;
}

.nav-bar .nav-container li {
    list-style: none;
}


.nav-bar .nav-container a {
    text-decoration: none;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.7rem;

}

.nav-bar .nav-container a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: #3a3a3a;
}



.nav-container .checkbox {
    position: absolute;
    display: block;
    height:30px;
    width:30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hamburger lines */
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 35px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #3a3a3a;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav-bar .nav-menu {
    padding-top: 17rem;
    box-shadow: outset 0 0 2000px #fafafa;
    
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: white;
}

.nav-bar .nav-menu li {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.website-logo {
    position: absolute;
    /* top: 5px; */
    left: 40%;
    font-size: 2rem;
    color: #0e2431;
    
    letter-spacing: 3px;
}


.nav-container input[type="checkbox"]:checked ~ .nav-menu {
    transform: translateX(0);
    z-index: 6;
    /*position: absolute; */

}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/* hero image placement and styling */

.hero-outer {
    background-color: rgba (213, 245, 39, .16);
    overflow: hidden;
    position: relative;
    height: 600px;
    margin: 10px;
}

#hero-image {

    height: 100%;

    background-color: #fff;
    background: url(../images/piano-lesson-sheet-and-keyboard.jpeg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* Add cover text over hero image */

.cover-text {
    position: absolute;
    font-size: 1.5rem;
    background-color: rgb(14 13 13 / 90%);
    
    left: 2%;
    bottom: 3%;
    margin-right: 1%;
}

.cover-text h2 {
    color: white;
}

/* Piano Teacher Biography Section */

/* #bio-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
}

#animation {
    background: url(../images/istockphoto-1172929828-640_adpp_is.mp4) no repeat center center;
    height: 25px;
    width: 100%;

} */
h2 {
    text-align: center;
    font-size: 200%;
    /* padding: 20px; */
}

.flex-container {
    display: flex;
    /* flex-direction: row; */ 
    width: 100%;
    position: relative;
}

.flex-container>div {
    background-color: #3a3a3a;
    width: 30%;
    margin: 10px;
    text-align: center;
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.adult-lessons {
    background: url(../images/woman-playing-piano.jpeg) no-repeat center center;
    width: 33%;
    height: 300px;
    position: relative;
    background-size: cover;
}

.piano-keyboard {
    background: url(../images/piano-keyboard-image.jpg) no-repeat center center;
    width: 33%;
    height: 300px;
    position: relative;
    background-size: cover;
}

.children-playing {
    background: url(../images/two-children-playing-piano.jpeg) no-repeat center center;
    width: 33%;
    height: 300px;
    position: relative;
}

/* place text inside images */

.bio-text {
    justify-content: center; 
    text-align: center;
    color: white;
    background-color: rgb(14 13 13 / 30%);
    border-radius: 0.125vw;
    padding: 0.625vw;
    width: 55%;
    margin: 1%;
}


/* Lessons Page */

/* Reuse .flex-container but change style to suit Lessons page */
.flex-container>#Lessons-for-Adults,
#Lessons-for-Children {
    height: 600px;
    margin: 1%;
}

#Lessons-for-Adults {
    background: url(../images/student-thumbing-through-sheet-music-at-piano.jpeg) no-repeat;
    width: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#Lessons-for-Children {
    background: url(../images/two-children-playing-piano.jpeg) no-repeat;
    width: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Get In Touch Page */

#signup-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
}

#signup {
    /* does /*clear: both; need to be included after a position: relative? */
    height: 600px;
    background-color: #fff;
    background: url(../images/Get-in-touch-toddler-playing-piano.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* Form */

.label-style {
    border: 25px;
}

.signup-form h2,
h3 {
    color: #fafafa;
    text-align: center;
    margin: 0 20 0 0;
}

.signup-form {
    color: white;
    background-color: rgb(14 13 13 / 40%);
    
    position: absolute;

    padding: 2%;
    top: 5%;
    right: 20%;
}

.text-input {
    color: #2a2a2a;
    width: 100%;
    height: 25px;
    /* margin: 5 0 10; */
    border: .5px solid #fafafa;
    border-radius: 1px;
    padding: 2px;
}

.text-input:hover {
    border-color: #4a4a4a;
}

/* br {
    clear: both;
    height: 50px;
} */

/* .line-break {
    margin-bottom: 25px;
    display: inline-block;
} */

.Signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    color: #2a2a2a;
    /* display: block center; */
    background-color: #a7a0a0;
    display: inline-block;
}

.Signup-button:hover {
    border-color: #3a3a3a;
    color: #a7a0a0;
    background-color: #2a2a2a;
}


/* footer */

footer {
    min-height: 6.25vh;

}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline-block;
    letter-spacing: 3px;
    list-style-type: none;
    padding: 5px;
    color: darkgrey;
}

.social-networks a {
    text-decoration: none;
}

.social-networks a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks i {
    color: #3a3a3a;
    font-size: 150%;
    padding: 5px;
    margin: 1px;
}

/* Mobile first responsive design - media queries */

[class*] {
    width: 100%;
}

@media screen and (max-width: 670px) {
    
.website-logo {
    left: 6rem;
}

.website-logo i {
    display: none;
}

    /* .flex-container {
        display: flex;
        flex-direction: column;

        width: 90%;}

    .flex-container>div {
        width: 95%;
        margin: 5%;
            }

    .bio-text {    
        /* flex-wrap: wrap;
        flex-shrink: 1; */
        /* width: 80%;
    } */
    
    /* .flex-container>#Lessons-for-Adults,
#Lessons-for-Children {
        width: 95%;
        margin: 5%;
        padding: 2%;
} */ */

#signup {
    height: 100%;
}

.signup-form {
    background-color: rgb(14 13 13 / 40%);
    
    left: 2%;
    right: 2%;
    top: 5%;
}

}

@media screen and (max-width: 1200px) {
    #nav-menu {
        clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
        font-weight: bold;
    }

    .hero-outer {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .cover-text {
        margin: 0 auto;
        margin-right: 1%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;

        width: 95%;}

    .flex-container>div {
        width: 95%;
        margin: 5%;
            }

    .bio-text {    
        /* flex-wrap: wrap;
        flex-shrink: 1; */
        width: 80%;
    }
    
    .flex-container>#Lessons-for-Adults,
#Lessons-for-Children {
        width: 95%;
        margin: 5%;
        padding: 2%;
}
}