@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@300&display=swap');

/* clear inherited box model styling as taught in Love Running Walkthrough Project */

* {
    margin: 0;
    border: auto;
    padding: 0;
}

/* Design colours will broadly follow the traditional piano keyboard of black/ivory or black/white */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}

/* Add styling to Website logo and navigation bar which style will carry through the 3 pages */
h1 {
    font-family: Nato sans, sans-serif;
    color: darkgrey;
}

#website-logo {
    float: left;
    padding-left: 25px;
    font-size: 300%;
}

#nav-menu {
    float: right;
    display: inline-block;
    padding-right: 25px;
    
}

#nav-menu li {
    float: left;
    font-size: 130%;
    letter-spacing: 3px;
    list-style-type: none;
    padding-right: 5px;
    color: inherit;
}
/* remove navigation underlines */
#nav-menu a {
    text-decoration: none;
}

/* create hover effect on nav bar */
#nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* create underline effect on active page within nav bar */
.active {
    border-bottom: 1px solid #3a3a3a;
}

#nav-menu, #website-logo {
    line-height: 75px;
} 

/* hero image placement and styling */

#hero-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/hero-image-keyboard-and-sheet-music.webp) no-repeat center center;
}

/* footer */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline-block;
    letter-spacing: 3px;
    list-style-type: none;
    padding: 5px;
    color: darkgrey;
}

.social-networks a {
    text-decoration: none;
}

.social-networks a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks i {
    color: #3a3a3a;
    font-size: 150%;
    padding: 5px;
    margin: 1px;
}

